@charset 'UTF-8';

.acf-field-object-audioVideo tr[data-name="allowed_types"] .description {
  font-style: normal;
  font-size: 12px;
  color: #888;
  margin-top: .5em;
}

#acf-audio-video-return-format-help-btn {
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  font-style: normal;
  line-height: 1;
  opacity: .6;
  cursor: pointer;

  
  &:after {
    content: '\f348';
    font-family: dashicons;
  }

  &:hover,
  &:active {
    opacity: 1;
    color: #00a0d2;
  }
}

#acf-audio-video-return-format-help {
  .media-modal {
    max-width: 800px;
    margin: 0 auto;
  }

  .media-modal-content {
    >div,
    .loading {
      height: 100%;
    }
  }

  .loading {
    position: relative;
  }

  .spinner {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    margin: -10px;
  }

  .media-frame-title,
  .media-frame-content {
    left: 0;
  }

  .media-frame-content {
    top: 50px;
    bottom: 0;
    border-bottom: 0;
    padding: 0 16px 16px;
  }

  .media-modal-close {
    border-left: 1px solid #ddd;

    .media-modal-icon:before {
      content: "\f335";
      font-size: 22px;
    }
    
    &:hover,
    &:focus {
      background: #ddd;
      border-color: #ccc;
      color: #000;
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;

      .media-modal-icon:before {
        color: black;
      }
    }
  }

  pre code {
    overflow: auto;
    display: block;
  }
}